header {
    display: flex;
    flex: 100%;
    height: 20vh;
    line-height: 20vh;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex: 100%;
    height: 50vh;
    /* flex-direction: column; */
    
}

.sidebar1 {
    display: flex;
    flex: 25%;
    margin: 5px 5px 5px 0px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.sidebar2 {
    display: flex;
    flex: 25%;
    margin: 5px 0px 5px 5px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
    flex: 50%;
    margin: 5px;
    background-color: tomato;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex: 100%;
    height: 20vh;
    background-color: green;
    justify-content: center;
    align-items: center;
}