header {
    width: 100%;
    height: 20vh;
    background-color: blueviolet;
    text-align: center;
    line-height: 20vh;
    font-size: 45px;
}

nav {
    background-color: aquamarine;
    height: 6vh;
    text-align: center;
    line-height: 6vh;
    font-size: 25px;
}

.content1 {
    width: calc(200%/3 - 15px);
    height: 400px;
    background-color:red;
    float:left;
    text-align: center;
    line-height: 400px;
    margin-right:15px;
    margin-bottom: 15px;
}

.sidebar1 {
    width: calc(100%/3);
    height: 200px;
    float:right;
    text-align: center;
    line-height: 200px;
    background-color: green;
}
.sidebar2 {
    width: calc(100%/3);
    height: 200px;
    float:right;
    text-align: center;
    line-height: 200px;
    background-color: blue;
}

.flex {
    display: flex;
    flex-direction: row;
}

.content2 {
    flex: 30%;
    height: 400px;
    background-color:red;
    order: 2;
    text-align: center;
    line-height: 400px;
    margin-bottom: 15px;
}

.sidebar3 {
    flex:30%;
    height: 400px;
    
    text-align: center;
    line-height: 400px;
    background-color: green;
}
.sidebar4 {
    flex: 30%;
    height: 400px;
    
    text-align: center;
    line-height: 400px;
    background-color: blue;
}

.content3 {
    width: calc(100%/3 - 15px);
    height: 400px;
    background-color:red;
    float:left;
    text-align: center;
    line-height: 400px;
    margin-right: 15px;
}

.sidebar5 {
    width: calc(100%/3 - 15px);
    height: 400px;
    float:left;
    text-align: center;
    line-height: 400px;
    background-color: green;
    margin-right: 15px;
}
.sidebar6 {
    width: calc(100%/3);
    height: 400px;
    float:left;
    text-align: center;
    line-height: 400px;
    background-color: blue;
}

.parent1 {
    width: 800px;
    height: 500px;
    background-color: tomato;
    margin: 15px auto; /*can ca block div ra center*/
    position: relative;
    
}

.child1 {
    width: 250px;
    height: 250px;
    background-color: cornflowerblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.clear {
    clear: both;
}