/* header {
  display: flex;
  flex: 100%;
  height: 20vh;
  line-height: 20vh;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
} */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  /* flex-direction: column; */
}

.article {
  height: 400px;
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: tomato;
  justify-content: center;
  align-content: center;
}

.sidebar1 {
  height: 200px;
  background-color: lightblue;
  justify-content: center;
  align-content: center;
}

.sidebar2 {
  height: 200px;
  background-color: lightblue;
  justify-content: center;
  align-content: center;
}

/* footer {
  display: flex;
  flex: 100%;
  height: 20vh;
  background-color: green;
  justify-content: center;
  align-items: center;
} */
