#body-container{
    width: 100%;      
    margin: 0px auto;   /*Canh giữa màn hình*/
    text-align: center; /*Text bên trong canh giữa*/
    font-size: 20px;    /*Font chữ 30px*/
    color: #FFF;        /*Font màu trắng*/
}

#logoimg {
    border-radius: 50%;
	float: left;
}

.clear {
	clear:both;
}