.container {
  background-color: aquamarine;

  display: flex;
  flex-direction: column;
}
.titlesec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.angle {
  padding-left: 10px;
}

.sec1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.single img {
  width: 100%;
}

.album {
  display: flex;
  padding-right: 10px;
  flex-direction: column;
  align-items: center;
}

.album:nth-child(4) {
  padding-right: 0 !important;
}
