.content {
    height: 800px;
    /* line-height: 800px;     */
    background-color: tomato;
}

.fa-facebook-messenger {
    color: lightblue;
    font-size: 45px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}