/* header {
  display: flex;
  flex: 100%;
  height: 20vh;
  line-height: 20vh;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
} */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px;
  /* flex-direction: column; */
}

.item1 {
  grid-column: 1/3;
  grid-row: 1/4;
  background-color: tomato;
  justify-content: center;
  align-content: center;
  order: 1;
}

.item2 {
  background-color: lightblue;
  justify-content: center;
  align-content: center;
  order: 2;
}

.item3 {
  background-color: lightblue;
  justify-content: center;
  align-content: center;
  order: 3;
}

.item4 {
  background-color: red;
  justify-content: center;
  align-content: center;
  order: 4;
}

.item5 {
  background-color: orange;
  justify-content: center;
  align-content: center;
  order: 5;
}

.item6 {
  background-color: green;
  justify-content: center;
  align-content: center;
  /* order: 6; */
  order: 8;
}

.item7 {
  background-color: purple;
  justify-content: center;
  align-content: center;
  /* order: 7; */
  order: 9;
}

.item8 {
  background-color: goldenrod;
  justify-content: center;
  align-content: center;
  /* order: 8; */
  order: 6;
}

.item9 {
  background-color: aqua;
  justify-content: center;
  align-content: center;
  /* order: 9; */
  order: 7;
}

.item10 {
  grid-column: 4/6;
  grid-row: 2/5;
  background-color: violet;
  justify-content: center;
  align-content: center;
  order: 10;
}
/* footer {
  display: flex;
  flex: 100%;
  height: 20vh;
  background-color: green;
  justify-content: center;
  align-items: center;
} */
